body {
    text-align: center;
    font-family: Arial;
}

.calc {
    width: 350px;
    margin: auto;
}

input {
    width: 350px;
    height: 50px;
    margin-bottom: 10px;
    text-align: right;
}

button {
    width: 75px;
    height: 75px;
    margin: 3px;
}
