body {
    margin: 0;
    font-family: Arial;
}

header {
    background: #007bff;
    color: white;
    padding: 40px;
    text-align: center;
}

section {
    padding: 30px;
    text-align: center;
}

.box {
    background: #f2f2f2;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
}
